services:
  ##
  # Server homepage
  # https://gethomepage.dev/
  ##
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=mattvperry.com
    volumes:
      - homepage_config:/app/config
      - /media/trinity:/trinity:ro
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - default
      - media_default
      - pterodactyl_default
      - portainer_default
      - unifi_default
      - watchtower_default
      - metrics_default
      - dns_default
      - auth_default
      - wud_default

  ##
  # Reverse proxy
  ##
  proxy:
    image: docker.io/caddy:latest
    container_name: caddy
    cap_add:
      - NET_ADMIN
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile
      - /srv:/srv
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
      - 9443:9443
      - 61512:61512
    restart: unless-stopped
    networks:
      - default
      - media_default
      - pterodactyl_default
      - portainer_default
      - unifi_default
      - watchtower_default
      - metrics_default
      - dns_default
      - auth_default
      - wud_default
    labels:
      - homepage.group=System
      - homepage.name=Caddy
      - homepage.icon=caddy
      - homepage.description=Reverse proxy
      - homepage.widget.type=caddy
      - homepage.widget.url=http://caddy:2019

volumes:
  homepage_config:
  caddy_data:
  caddy_config:

networks:
  default:
  media_default:
    external: true
  pterodactyl_default:
    external: true
  portainer_default:
    external: true
  unifi_default:
    external: true
  watchtower_default:
    external: true
  metrics_default:
    external: true
  dns_default:
    external: true
  auth_default:
    external: true
  wud_default:
    external: true
