name: frontend

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.9.0@sha256:7fa7b07a26bd8d90a44bb975c6455b10d8dee467ce674b040750ffb4a0f486d6
    container_name: homepage
    volumes:
      - homepage_config:/app/config
      - /media/trinity:/trinity:ro
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=mattvperry.com
    networks:
      - default
      - media_default
      - pterodactyl_default
      - komodo_default
      - unifi_default
      - metrics_default
      - dns_default
      - auth_default
      - notifications_default
      - maintenance_default
    restart: unless-stopped

  ##
  # Reverse proxy
  ##
  proxy:
    image: docker.io/caddy:2.10.2@sha256:c1ccc35f8ba2567b90b72c88da31f68dc511ad6424e3885e911f2fd3fdc45ea3
    container_name: caddy
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile
      - /srv:/srv
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - '80:80'
      - '443:443'
      - '443:443/udp'
      - '9443:9443'
    networks:
      - default
      - media_default
      - pterodactyl_default
      - komodo_default
      - unifi_default
      - metrics_default
      - dns_default
      - auth_default
      - notifications_default
      - maintenance_default
    restart: unless-stopped
    labels:
      - homepage.group=System
      - homepage.name=Caddy
      - homepage.icon=caddy
      - homepage.description=Reverse proxy
      - homepage.widget.type=caddy
      - homepage.widget.url=http://caddy:2019
    cap_add:
      - NET_ADMIN
networks:
  default:
  media_default:
    external: true
  pterodactyl_default:
    external: true
  komodo_default:
    external: true
  unifi_default:
    external: true
  metrics_default:
    external: true
  dns_default:
    external: true
  auth_default:
    external: true
  notifications_default:
    external: true
  maintenance_default:
    external: true

volumes:
  homepage_config:
  caddy_data:
  caddy_config:

