services:
  ##
  # Server homepage
  # https://gethomepage.dev/
  ##
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.8.0@sha256:7dc099d5c6ec7fc945d858218565925b01ff8a60bcbfda990fc680a8b5cd0b6e
    container_name: homepage
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=mattvperry.com
    volumes:
      - homepage_config:/app/config
      - /media/trinity:/trinity:ro
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - default
      - media_default
      - pterodactyl_default
      - komodo_default
      - unifi_default
      - metrics_default
      - dns_default
      - auth_default
      - notifications_default
      - maintenance_default

  ##
  # Reverse proxy
  ##
  proxy:
    image: docker.io/caddy:2.10.2@sha256:86d2ab93167b0c24f9f86e8a4214dee0ba25f86808002bfd29a78677824a2483
    container_name: caddy
    cap_add:
      - NET_ADMIN
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile
      - /srv:/srv
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
      - 9443:9443
      - 61512:61512
    restart: unless-stopped
    networks:
      - default
      - media_default
      - pterodactyl_default
      - komodo_default
      - unifi_default
      - metrics_default
      - dns_default
      - auth_default
      - notifications_default
      - maintenance_default
    labels:
      - homepage.group=System
      - homepage.name=Caddy
      - homepage.icon=caddy
      - homepage.description=Reverse proxy
      - homepage.widget.type=caddy
      - homepage.widget.url=http://caddy:2019

volumes:
  homepage_config:
  caddy_data:
  caddy_config:

networks:
  default:
  media_default:
    external: true
  pterodactyl_default:
    external: true
  komodo_default:
    external: true
  unifi_default:
    external: true
  metrics_default:
    external: true
  dns_default:
    external: true
  auth_default:
    external: true
  notifications_default:
    external: true
  maintenance_default:
    external: true
