[[server]]
name = "Local"
tags = ["synced"]
[server.config]
address = "https://komodo_periphery:8120"
enabled = true
mem_warning = 85.0

##

[[stack]]
name = "auth"
tags = ["synced"]
[stack.config]
server = "Local"
linked_repo = "Stacks"
run_directory = "auth"
file_paths = ["docker-compose.yml"]
environment = """
POCKETID_CLIENT_ID=[[POCKETID_CLIENT_ID]]
POCKETID_CLIENT_SECRET=[[POCKETID_CLIENT_SECRET]]
ENCRYPTION_KEY=[[AUTH_ENCRYPTION_KEY]]
"""

##

[[stack]]
name = "dns"
tags = ["synced"]
[stack.config]
server = "Local"
linked_repo = "Stacks"
run_directory = "dns"
file_paths = ["docker-compose.yml"]
environment = """
TECHNITIUM_KEY=[[TECHNITIUM_KEY]]
"""

##

[[stack]]
name = "frontend"
tags = ["synced"]
[stack.config]
server = "Local"
linked_repo = "Stacks"
run_directory = "frontend"
file_paths = ["docker-compose.yml"]
config_files = [
  { path = "config/Caddyfile", services = ["proxy"], requires = "Restart" }
]

##

[[stack]]
name = "maintenance"
tags = ["synced"]
[stack.config]
server = "Local"
linked_repo = "Stacks"
run_directory = "maintenance"
file_paths = ["docker-compose.yml"]
config_files = [
  { path = "config.js", services = ["renovate"], requires = "Restart" }
]
environment = """
MEND_GITHUB_APP_ID=[[MEND_GITHUB_APP_ID]]
MEND_GITHUB_APP_KEY=[[MEND_GITHUB_APP_KEY]]
MEND_WEBHOOK_SECRET=[[MEND_WEBHOOK_SECRET]]
MEND_LICENSE_KEY=[[MEND_LICENSE_KEY]]
"""

##

[[stack]]
name = "media"
tags = ["synced"]
[stack.config]
server = "Local"
linked_repo = "Stacks"
run_directory = "media"
file_paths = ["docker-compose.yml"]
environment = """
PROWLARR_API=[[PROWLARR_API]]
RADARR_API=[[RADARR_API]]
SONARR_API=[[SONARR_API]]
PLEX_API=[[PLEX_API]]
OVERSEERR_API=[[OVERSEERR_API]]
TAUTULLI_API=[[TAUTULLI_API]]
"""

##

[[stack]]
name = "metrics"
tags = ["synced"]
[stack.config]
server = "Local"
linked_repo = "Stacks"
run_directory = "metrics"
file_paths = ["docker-compose.yml"]
environment = """
GF_VL_PLUGIN=https://github.com/VictoriaMetrics/victorialogs-datasource/releases/download/v0.3.0/victorialogs-datasource-v0.3.0.zip
GF_VM_PLUGIN=https://github.com/VictoriaMetrics/victoriametrics-datasource/releases/download/v0.9.0/victoriametrics-datasource-v0.9.0.zip
"""

##

[[stack]]
name = "notifications"
tags = ["synced"]
[stack.config]
server = "Local"
linked_repo = "Stacks"
run_directory = "notifications"
file_paths = ["docker-compose.yml"]
environment = """
NTFY_AUTH_USERS=[[NTFY_AUTH_USERS]]
NTFY_AUTH_TOKENS=[[NTFY_AUTH_TOKENS]]
"""

##

[[stack]]
name = "pterodactyl"
tags = ["synced"]
[stack.config]
server = "Local"
linked_repo = "Stacks"
run_directory = "pterodactyl"
file_paths = ["docker-compose.yml"]
environment = """
PTERO_API_KEY=[[PTERO_API_KEY]]
"""

##

[[stack]]
name = "unifi"
tags = ["synced"]
[stack.config]
server = "Local"
linked_repo = "Stacks"
run_directory = "unifi"
file_paths = ["docker-compose.yml"]
environment = """
MONGO_PASS=[[UNIFI_MONGO_PASS]]
UNIFI_USER=[[UNIFI_USER]]
UNIFI_PASS=[[UNIFI_PASS]]
"""

##

[[repo]]
name = "Stacks"
tags = ["synced"]
[repo.config]
server = "Local"
git_account = "mattvperry"
repo = "mattvperry/stacks"

##

[[procedure]]
name = "Backup Core Database"
description = "Triggers the Core database backup at the scheduled time."
tags = ["system", "synced"]
config.schedule_alert = false
config.schedule = "Every day at 01:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "BackupCoreDatabase", execution.params = {}, enabled = true }
]

##

[[procedure]]
name = "Global Auto Update"
description = "Pulls and auto updates Stacks and Deployments using 'poll_for_updates' or 'auto_update'."
tags = ["system", "synced"]
config.schedule_enabled = false
config.schedule = "Every day at 03:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "GlobalAutoUpdate", execution.params = {}, enabled = true }
]

##

[[procedure]]
name = "Prune Images"
tags = ["system", "synced"]
config.schedule_alert = false
config.schedule = "Run every day at 5:00 am"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "PruneImages", execution.params.server = "Local", enabled = true }
]

##

[[builder]]
name = "Local"
tags = ["synced"]
[builder.config]
type = "Server"
params.server_id = "Local"

##

[[resource_sync]]
name = "Main Sync"
tags = ["synced"]
[resource_sync.config]
linked_repo = "Stacks"
resource_path = ["resources.toml"]
managed = true
match_tags = ["synced"]