[[server]]
name = "Local"
[server.config]
address = "https://komodo_periphery:8120"
enabled = true

##

[[stack]]
name = "frontend"
[stack.config]
server = "Local"
linked_repo = "Stacks"
webhook_enabled = false
run_directory = "frontend"
file_paths = ["docker-compose.yml"]

##

[[stack]]
name = "metrics"
[stack.config]
server = "Local"
linked_repo = "Stacks"
webhook_enabled = false
run_directory = "metrics"
file_paths = ["docker-compose.yml"]
environment = """
GF_VL_PLUGIN=https://github.com/VictoriaMetrics/victorialogs-datasource/releases/download/v0.3.0/victorialogs-datasource-v0.3.0.zip
GF_VM_PLUGIN=https://github.com/VictoriaMetrics/victoriametrics-datasource/releases/download/v0.9.0/victoriametrics-datasource-v0.9.0.zip
"""

##

[[stack]]
name = "pterodactyl"
[stack.config]
server = "Local"
linked_repo = "Stacks"
webhook_enabled = false
run_directory = "pterodactyl"
file_paths = ["docker-compose.yml"]
environment = """
PTERO_API_KEY=[[PTERO_API_KEY]]
"""

##

[[stack]]
name = "unifi"
[stack.config]
server = "Local"
linked_repo = "Stacks"
webhook_enabled = false
run_directory = "unifi"
file_paths = ["docker-compose.yml"]
environment = """
MONGO_PASS=[[UNIFI_MONGO_PASS]]
UNIFI_USER=[[UNIFI_USER]]
UNIFI_PASS=[[UNIFI_PASS]]
"""

##

[[stack]]
name = "whatsupdocker"
[stack.config]
server = "Local"
linked_repo = "Stacks"
webhook_enabled = false
run_directory = "wud"
file_paths = ["docker-compose.yml"]
environment = """
AUTH_CLIENT_ID=[[WUD_AUTH_CLIENT_ID]]
AUTH_CLIENT_SECRET=[[WUD_AUTH_CLIENT_SECRET]]
DOCKERHUB_USERNAME=[[DOCKERHUB_USERNAME]]
DOCKERHUB_TOKEN=[[DOCKERHUB_TOKEN]]
"""

##

[[repo]]
name = "Stacks"
[repo.config]
server = "Local"
git_account = "mattvperry"
repo = "mattvperry/stacks"

##

[[procedure]]
name = "Backup Core Database"
description = "Triggers the Core database backup at the scheduled time."
tags = ["system"]
config.schedule = "Every day at 01:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "BackupCoreDatabase", execution.params = {}, enabled = true }
]

##

[[procedure]]
name = "Global Auto Update"
description = "Pulls and auto updates Stacks and Deployments using 'poll_for_updates' or 'auto_update'."
tags = ["system"]
config.schedule = "Every day at 03:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "GlobalAutoUpdate", execution.params = {}, enabled = true }
]

##

[[resource_sync]]
name = "Main Sync"
[resource_sync.config]
linked_repo = "Stacks"
resource_path = ["resources.toml"]
managed = true