{
	admin :2019
	servers {
		metrics
	}
}

#(fwauth) {
#	reverse_proxy /outpost.goauthentik.io/* auth_server:9000
#
#	forward_auth {args[0]} auth_server:9000 {
#		uri /outpost.goauthentik.io/auth/caddy
#		copy_headers {
#			X-Authentik-Username
#			X-Authentik-Groups
#			X-Authentik-Email
#			X-Authentik-Name
#			X-Authentik-Uid
#			X-Authentik-Jwt
#			X-Authentik-Meta-Jwks
#			X-Authentik-Meta-Outpost
#			X-Authentik-Meta-Provider
#			X-Authentik-Meta-App
#			X-Authentik-Meta-Version
#		}
#		trusted_proxies private_ranges
#	}
#}

www.mattvperry.com, mattvperry.com {
	#@auth {
	#	not client_ip private_ranges
	#	not path /stats*
	#	not path /public*
	#}

	#import fwauth @auth

	reverse_proxy homepage:3000

	reverse_proxy /index* prowlarr:9696

	reverse_proxy /tv* sonarr:8989

	reverse_proxy /movies* radarr:7878

	reverse_proxy /stats* tautulli:8181 {
		header_up X-Forwarded-Ssl on
	}

	redir /nzb /nzb/
	handle_path /nzb/* {
		reverse_proxy nzbget:6789
	}

	handle_path /torrent* {
		rewrite * /transmission{uri}
		reverse_proxy transmission:9091
	}

	handle_path /files* {
		root * /srv/http/files
		file_server browse
	}

	handle_path /public* {
		root * /srv/http/public
		file_server browse
	}
}

auth.mattvperry.com {
	reverse_proxy pocketid:1411
}

dns.mattvperry.com {
	reverse_proxy pihole
}

media.mattvperry.com {
	reverse_proxy overseerr:5055
}

plex.mattvperry.com {
	reverse_proxy mattvperry.com:32400
}

games.mattvperry.com {
	reverse_proxy panel:80
}

games.mattvperry.com:9443 {
	reverse_proxy daemon:9443
}

unifi.mattvperry.com {
	reverse_proxy unifi:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

docker.mattvperry.com {
	reverse_proxy portainer:9000
}

logs.mattvperry.com {
	reverse_proxy grafana:3000
}

wud.mattvperry.com {
	reverse_proxy wud:3000
}