{
	admin :2019
	metrics
}

(fwauth) {
	forward_auth {args[0]} tinyauth:3000 {
		uri /api/auth/caddy
		trusted_proxies private_ranges
	}
}

www.mattvperry.com, mattvperry.com {
	@auth {
		not client_ip private_ranges
		not path /public* /stats*
	}

	import fwauth @auth

	reverse_proxy homepage:3000

	reverse_proxy /index* prowlarr:9696

	reverse_proxy /tv* sonarr:8989

	reverse_proxy /movies* radarr:7878

	reverse_proxy /maintain* maintainerr:6246

	reverse_proxy /stats* tautulli:8181 {
		header_up X-Forwarded-Ssl on
	}

	redir /nzb /nzb/
	handle_path /nzb/* {
		reverse_proxy nzbget:6789
	}

	handle_path /torrent* {
		rewrite * /transmission{uri}
		reverse_proxy transmission:9091
	}

	handle_path /files* {
		root * /srv/http/files
		file_server browse
	}

	handle_path /public* {
		root * /srv/http/public
		file_server browse
	}
}

auth.mattvperry.com {
	reverse_proxy pocketid:1411
}

authproxy.mattvperry.com {
	reverse_proxy tinyauth:3000
}

dns.mattvperry.com {
	reverse_proxy technitium_dns:5380
}

media.mattvperry.com {
	reverse_proxy overseerr:5055
}

plex.mattvperry.com {
	reverse_proxy mattvperry.com:32400
}

games.mattvperry.com {
	reverse_proxy pterodactyl_panel:80
}

games.mattvperry.com:9443 {
	reverse_proxy pterodactyl_wings:9443
}

pelican.mattvperry.com {
	reverse_proxy pelican_panel:80
}

wings.mattvperry.com {
	reverse_proxy pelican_wings:8080
}

unifi.mattvperry.com {
	reverse_proxy unifi:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

docker.mattvperry.com {
	reverse_proxy komodo_core:9120
}

logs.mattvperry.com {
	reverse_proxy grafana:3000
}

ntfy.mattvperry.com {
	reverse_proxy ntfy:80
}

renovate.mattvperry.com {
	reverse_proxy renovate:8080
}