services:
  technitium_dns:
    image: technitium/dns-server:latest
    container_name: technitium_dns
    environment:
      - TZ=America/New_York
      - DNS_SERVER_FORWARDERS=1.1.1.1,1.0.0.1
      - DNS_SERVER_PROTOCOL=Https
    ports:
      - 5380:5380/tcp
      - 53:53/tcp
      - 53:53/udp
    restart: unless-stopped
    labels:
      - homepage.group=Network
      - homepage.name=Technitium DNS
      - homepage.icon=technitium
      - homepage.href=https://dns.mattvperry.com
      - homepage.description=Network adblock

volumes:
  pihole_config:
  pihole_dnsmasq:

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.27.0.0/24
          gateway: 172.27.0.1
