services:
  technitium_dns:
    image: technitium/dns-server:14.3.0@sha256:322b236403ca25028032f28736e2270a860527b030b162c9f82451c6494c4698
    container_name: technitium_dns
    environment:
      - TZ=America/New_York
    volumes:
      - technitium_config:/etc/dns
    ports:
      - 53:53/tcp
      - 53:53/udp
    restart: unless-stopped
    labels:
      - homepage.group=Network
      - homepage.name=Technitium DNS
      - homepage.icon=technitium
      - homepage.href=https://dns.mattvperry.com
      - homepage.description=Network adblock
      - homepage.widget.type=technitium
      - homepage.widget.url=https://dns.mattvperry.com
      - homepage.widget.key=${TECHNITIUM_KEY}
      - homepage.widget.range=LastDay

volumes:
  technitium_config: