services:
  pihole:
    image: docker.io/pihole/pihole:latest
    container_name: pihole
    environment:
      - TZ=America/New_York
      - FTLCONF_webserver_api_password=${PIHOLE_PASS}
    volumes:
      - pihole_config:/etc/pihole
      - pihole_dnsmasq:/etc/dnsmasq.d
    ports:
      - 53:53/tcp
      - 53:53/udp
    networks:
      default:
        ipv4_address: 172.27.0.3
    restart: unless-stopped
    labels:
      - homepage.group=Network
      - homepage.name=PiHole
      - homepage.icon=pi-hole
      - homepage.href=https://dns.mattvperry.com/admin
      - homepage.description=Network adblock
      - homepage.widget.type=pihole
      - homepage.widget.url=http://pihole
      - homepage.widget.key=${PIHOLE_KEY}
      - homepage.widget.version=6

  technitium_dns:
    image: technitium/dns-server:latest
    container_name: technitium_dns
    environment:
      - TZ=America/New_York
      - DNS_SERVER_FORWARDERS=1.1.1.1,1.0.0.1
      - DNS_SERVER_PROTOCOL=Https
    ports:
      - 5380:5380/tcp
    restart: unless-stopped
    labels:
      - homepage.group=Network
      - homepage.name=Technitium DNS
      - homepage.icon=technitium
      - homepage.href=https://dns.mattvperry.com
      - homepage.description=Network adblock

volumes:
  pihole_config:
  pihole_dnsmasq:

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.27.0.0/24
          gateway: 172.27.0.1
