services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:latest
    container_name: pocketid
    restart: unless-stopped
    volumes:
      - pocketid_data:/data
    environment:
      - APP_URL=https://auth.mattvperry.com
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - TRUST_PROXY=true
    healthcheck:
      test: ["CMD", "/app/pocket-id", "healthcheck"]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s

  tinyauth:
    image: ghcr.io/steveiliop56/tinyauth:latest
    container_name: tinyauth
    restart: unless-stopped
    environment:
      - APP_URL=https://authproxy.mattvperry.com

volumes:
  pocketid_data: