name: media

services:
  maintainerr:
    image: ghcr.io/maintainerr/maintainerr:2.26.1@sha256:35f5e04151298e828e804f54be0ef00104c35dbf9bfd8e03dacc42e525d2f336
    container_name: maintainerr
    volumes:
      - maintainerr_data:/opt/data
    environment:
      - TZ=Europe/Brussels
      - BASE_PATH=/maintain
    restart: unless-stopped
  nzbget:
    image: docker.io/linuxserver/nzbget:25.4.20260130@sha256:51184d6996a33e79f5db2136c31724f3ce783fde708b3ef780f259e7f168e76a
    container_name: nzbget
    volumes:
      - nzbget_config:/config
      - /media/trinity/.usenet:/data/.usenet
    environment:
      - PUID=974
      - PGID=1001
      - TZ=America/New_York
    restart: unless-stopped
    labels:
      - homepage.group=Downloads
      - homepage.name=NZBGet
      - homepage.icon=nzbget
      - homepage.href=https://mattvperry.com/nzb/
      - homepage.description=Usenet downloader
      - homepage.widget.type=nzbget
      - homepage.widget.url=http://nzbget:6789

  overseerr:
    image: docker.io/linuxserver/overseerr:1.34.0@sha256:b21e06654f321a94778ea314f693a4b1c073d99ef36881c7f493e2afc6c08b20
    container_name: overseerr
    volumes:
      - overseerr_config:/config
    environment:
      - PUID=1000
      - PGID=1001
      - TZ=America/New_York
    restart: unless-stopped
    labels:
      - homepage.group=Media
      - homepage.name=Overseerr
      - homepage.icon=overseerr
      - homepage.href=https://media.mattvperry.com
      - homepage.description=Media requests
      - homepage.widget.type=overseerr
      - homepage.widget.url=http://overseerr:5055
      - homepage.widget.key=${OVERSEERR_API}

  plex:
    image: docker.io/linuxserver/plex:1.43.0@sha256:bbe0118e39e2c071fc5fe39af3f32072207bf4146d56b6a8901bcb23082df207
    container_name: plex
    volumes:
      - plex_config:/config
      - /media/trinity:/data
    environment:
      - PUID=421
      - PGID=1001
      - TZ=America/New_York
      - VERSION=latest
    network_mode: host
    restart: unless-stopped
    labels:
      - homepage.group=Media
      - homepage.name=Plex
      - homepage.icon=plex
      - homepage.href=https://plex.mattvperry.com/
      - homepage.description=Media library
      - homepage.widget.type=plex
      - homepage.widget.url=https://plex.mattvperry.com
      - homepage.widget.key=${PLEX_API}
    devices:
      - /dev/dri:/dev/dri

  prowlarr:
    image: docker.io/linuxserver/prowlarr:2.3.0@sha256:e74a1e093dcc223d671d4b7061e2b4946f1989a4d3059654ff4e623b731c9134
    container_name: prowlarr
    volumes:
      - prowlarr_config:/config
    environment:
      - PUID=977
      - PGID=977
      - TZ=America/New_York
    restart: unless-stopped
    labels:
      - homepage.group=Downloads
      - homepage.name=Prowlarr
      - homepage.icon=prowlarr
      - homepage.href=https://mattvperry.com/index/
      - homepage.description=Usenet indexer
      - homepage.widget.type=prowlarr
      - homepage.widget.url=http://prowlarr:9696
      - homepage.widget.key=${PROWLARR_API}

  radarr:
    image: docker.io/linuxserver/radarr:6.0.4@sha256:f08dda38e7d12e5a722d9a5cb6e54acaf63c8598fefeefec88effe0c0d0038dd
    container_name: radarr
    volumes:
      - radarr_config:/config
      - /media/trinity:/data
    environment:
      - PUID=986
      - PGID=1001
      - TZ=America/New_York
    restart: unless-stopped
    labels:
      - homepage.group=Media
      - homepage.name=Radarr
      - homepage.icon=radarr
      - homepage.href=https://mattvperry.com/movies/
      - homepage.description=Movie management
      - homepage.widget.type=radarr
      - homepage.widget.url=http://radarr:7878
      - homepage.widget.key=${RADARR_API}
      - homepage.widget.enableQueue=true

  sonarr:
    image: docker.io/linuxserver/sonarr:4.0.16@sha256:6f73bbba33391a338e20d836a60c86beaf2a865a89b706b339fc8cb0b8ce1559
    container_name: sonarr
    volumes:
      - sonarr_config:/config
      - /media/trinity:/data
    environment:
      - PUID=991
      - PGID=1001
      - TZ=America/New_York
    restart: unless-stopped
    labels:
      - homepage.group=Media
      - homepage.name=Sonarr
      - homepage.icon=sonarr
      - homepage.href=https://mattvperry.com/tv/
      - homepage.description=Television management
      - homepage.widget.type=sonarr
      - homepage.widget.url=http://sonarr:8989
      - homepage.widget.key=${SONARR_API}
      - homepage.widget.enableQueue=true

  tautulli:
    image: docker.io/linuxserver/tautulli:2.16.0@sha256:31bce3c8457e74392c8c451eee315a759f8b96ec7cff6060596152d7e893b776
    container_name: tautulli
    volumes:
      - tautulli_config:/config
    environment:
      - PUID=421
      - PGID=1001
      - TZ=America/New_York
    restart: unless-stopped
    labels:
      - homepage.group=Media
      - homepage.name=Tautulli
      - homepage.icon=tautulli
      - homepage.href=https://mattvperry.com/stats
      - homepage.description=Media statistics
      - homepage.widget.type=tautulli
      - homepage.widget.url=http://tautulli:8181/stats
      - homepage.widget.key=${TAUTULLI_API}

  transmission:
    image: docker.io/linuxserver/transmission:4.1.0@sha256:29e631e2216f2d4a5e0f7274b3ef2045901efe1d13df78ef4d4d48e8a9f1b216
    container_name: transmission
    volumes:
      - transmission_config:/config
      - /media/trinity/.torrents:/data/.torrents
    environment:
      - PUID=169
      - PGID=1001
      - TZ=America/New_York
    ports:
      - '51413:51413'
      - '51413:51413/udp'
    restart: unless-stopped
    labels:
      - homepage.group=Downloads
      - homepage.name=Transmission
      - homepage.icon=transmission
      - homepage.href=https://mattvperry.com/torrent/web/
      - homepage.description=Torrent downloader
      - homepage.widget.type=transmission
      - homepage.widget.url=http://transmission:9091/
      - homepage.widget.rpcUrl=transmission/

volumes:
  transmission_config:
  nzbget_config:
  prowlarr_config:
  radarr_config:
  sonarr_config:
  tautulli_config:
  plex_config:
  overseerr_config:
  maintainerr_data:
