name: pterodactyl

services:
  cron:
    image: ccarney16/pterodactyl-panel:v1.12.0@sha256:0283aafa61190762f7b8da29e8a1f7bbd76dc4fc02efbbdf82f861470923bcb8
    container_name: pterodactyl_cron
    volumes:
      - panel:/data
    env_file: ./panel.env
    command: p:cron
    restart: unless-stopped

  ##
  # -- Pterodactyl Daemon --
  # This service provides the wings runtime.
  ##
  daemon:
    image: docker.io/ccarney16/pterodactyl-daemon:v1.12.0@sha256:8c0fa4445e67601f62fe2caa5b9bcf466841b0c02ef43718992f52ff64c3c8d0
    container_name: pterodactyl_wings
    volumes:
      - /var/lib/pterodactyl:/var/lib/pterodactyl
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/pterodactyl:/tmp/pterodactyl
      - config:/etc/pterodactyl
    environment:
      - TZ=${DAEMON_TIMEZONE:-UTC}
    ports:
      - '2022:2022'
    restart: unless-stopped
    privileged: true

  ##
  # -- MariaDB --
  # Required for the control panel to work.
  # Stores Server/User information
  ##
  mariadb:
    image: mariadb:12.1.2@sha256:f54db0cb3ccfe9431aba6d08c65a1763c499789b116b4cb651dd7fcf325965b3
    container_name: pterodactyl_db
    volumes:
      - mysql:/var/lib/mysql
    env_file: ./mariadb.env
    networks:
      default:
        aliases:
          - mysql
    restart: unless-stopped

  ##
  # -- Pterodactyl Panel --
  # This is the container that provides the main web interface.
  ##
  panel:
    image: ccarney16/pterodactyl-panel:v1.12.0@sha256:0283aafa61190762f7b8da29e8a1f7bbd76dc4fc02efbbdf82f861470923bcb8
    container_name: pterodactyl_panel
    depends_on:
      mariadb:
        condition: service_started
      redis:
        condition: service_started
    volumes:
      - panel:/data
    env_file: ./panel.env
    restart: unless-stopped
    labels:
      - homepage.group=Games
      - homepage.name=Pterodactyl
      - homepage.icon=pterodactyl
      - homepage.href=https://games.mattvperry.com
      - homepage.description=Game server management
      - homepage.widget.type=pterodactyl
      - homepage.widget.url=https://games.mattvperry.com
      - homepage.widget.key=${PTERO_API_KEY}

  ##
  # -- Redis --
  ##
  redis:
    image: redis:8.4.0@sha256:73dad4271642c5966db88db7a7585fae7cf10b685d1e48006f31e0294c29fdd7
    container_name: pterodactyl_cache
    networks:
      default:
        aliases:
          - cache
    restart: unless-stopped
    cpu_count: 2
    mem_limit: 128m

  ##
  # -- Panel Worker --
  ##
  worker:
    image: ccarney16/pterodactyl-panel:v1.12.0@sha256:0283aafa61190762f7b8da29e8a1f7bbd76dc4fc02efbbdf82f861470923bcb8
    container_name: pterodactyl_worker
    volumes:
      - panel:/data
    env_file: ./panel.env
    command: p:worker
    restart: unless-stopped

volumes:
  panel:
  mysql:
  config:
