services:
  ##
  # -- Panel Cron --
  # These are required for schedules and other misc tasks to
  # function correctly.
  ##
  cron:
    container_name: pterodactyl_cron
    command: p:cron
    env_file: ./panel.env
    image: ccarney16/pterodactyl-panel:v1.12.0@sha256:0283aafa61190762f7b8da29e8a1f7bbd76dc4fc02efbbdf82f861470923bcb8
    restart: unless-stopped
    volumes:
      - panel:/data

  ##
  # -- Pterodactyl Daemon --
  # This service provides the wings runtime.
  ##
  daemon:
    container_name: pterodactyl_wings
    environment:
      - TZ=${DAEMON_TIMEZONE:-UTC}
    image: docker.io/ccarney16/pterodactyl-daemon:v1.12.0@sha256:8c0fa4445e67601f62fe2caa5b9bcf466841b0c02ef43718992f52ff64c3c8d0
    ports:
      - 2022:2022
    privileged: true
    restart: unless-stopped
    volumes:
      - /var/lib/pterodactyl:/var/lib/pterodactyl
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/pterodactyl:/tmp/pterodactyl
      - config:/etc/pterodactyl

  ##
  # -- MariaDB --
  # Required for the control panel to work.
  # Stores Server/User information
  ##
  mariadb:
    container_name: pterodactyl_db
    image: mariadb:12.1.2@sha256:e1bcd6f85781f4a875abefb11c4166c1d79e4237c23de597bf0df81fec225b40
    env_file: ./mariadb.env
    networks:
      default:
        aliases:
          - mysql
    restart: unless-stopped
    volumes:
      - mysql:/var/lib/mysql

  ##
  # -- Pterodactyl Panel --
  # This is the container that provides the main web interface.
  ##
  panel:
    container_name: pterodactyl_panel
    env_file: ./panel.env
    image: ccarney16/pterodactyl-panel:v1.12.0@sha256:0283aafa61190762f7b8da29e8a1f7bbd76dc4fc02efbbdf82f861470923bcb8
    restart: unless-stopped
    volumes:
      - panel:/data
    depends_on:
      mariadb:
        condition: service_started
      redis:
        condition: service_started
    labels:
      - homepage.group=Games
      - homepage.name=Pterodactyl
      - homepage.icon=pterodactyl
      - homepage.href=https://games.mattvperry.com
      - homepage.description=Game server management
      - homepage.widget.type=pterodactyl
      - homepage.widget.url=https://games.mattvperry.com
      - homepage.widget.key=${PTERO_API_KEY}

  ##
  # -- Redis --
  ##
  redis:
    container_name: pterodactyl_cache
    cpu_count: 2
    image: redis:8.4.0@sha256:eab64db310e251b0e8baa2418891094954aed5021ca790edc2842f74b1d8c9e1
    mem_limit: 128m
    networks:
      default:
        aliases:
          - cache
    restart: unless-stopped

  ##
  # -- Panel Worker --
  ##
  worker:
    container_name: pterodactyl_worker
    command: p:worker
    env_file: ./panel.env
    image: ccarney16/pterodactyl-panel:v1.12.0@sha256:0283aafa61190762f7b8da29e8a1f7bbd76dc4fc02efbbdf82f861470923bcb8
    restart: unless-stopped
    volumes:
      - panel:/data

volumes:
  panel:
  mysql:
  config: