name: pterodactyl

services:
  cron:
    image: ccarney16/pterodactyl-panel:v1.12.1@sha256:c637ee7903def812bce692514b69f35fb9442aa28310b0ba7eb63fbd386726a6
    container_name: pterodactyl_cron
    volumes:
      - panel:/data
    env_file: ./panel.env
    command: p:cron
    restart: unless-stopped

  ##
  # -- Pterodactyl Daemon --
  # This service provides the wings runtime.
  ##
  daemon:
    image: docker.io/ccarney16/pterodactyl-daemon:v1.12.1@sha256:ecccafd4057cd5294202d8e30a134b7c16468aaa6f79e8a62ef06dd499c976aa
    container_name: pterodactyl_wings
    volumes:
      - /var/lib/pterodactyl:/var/lib/pterodactyl
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/pterodactyl:/tmp/pterodactyl
      - config:/etc/pterodactyl
    environment:
      - TZ=${DAEMON_TIMEZONE:-UTC}
    ports:
      - '2022:2022'
    restart: unless-stopped
    privileged: true

  ##
  # -- MariaDB --
  # Required for the control panel to work.
  # Stores Server/User information
  ##
  mariadb:
    image: mariadb:12.2.2@sha256:3ba727e641ef0ea24054e47c72a831b1067da32d5139c0405b629c25b115eb89
    container_name: pterodactyl_db
    volumes:
      - mysql:/var/lib/mysql
    env_file: ./mariadb.env
    networks:
      default:
        aliases:
          - mysql
    restart: unless-stopped

  ##
  # -- Pterodactyl Panel --
  # This is the container that provides the main web interface.
  ##
  panel:
    image: ccarney16/pterodactyl-panel:v1.12.1@sha256:c637ee7903def812bce692514b69f35fb9442aa28310b0ba7eb63fbd386726a6
    container_name: pterodactyl_panel
    depends_on:
      mariadb:
        condition: service_started
      redis:
        condition: service_started
    volumes:
      - panel:/data
    env_file: ./panel.env
    restart: unless-stopped
    labels:
      - homepage.group=Games
      - homepage.name=Pterodactyl
      - homepage.icon=pterodactyl
      - homepage.href=https://games.mattvperry.com
      - homepage.description=Game server management
      - homepage.widget.type=pterodactyl
      - homepage.widget.url=https://games.mattvperry.com
      - homepage.widget.key=${PTERO_API_KEY}

  ##
  # -- Redis --
  ##
  redis:
    image: redis:8.6.0@sha256:7b6fb55d8b0adcd77269dc52b3cfffe5f59ca5d43dec3c90dbe18aacce7942e1
    container_name: pterodactyl_cache
    networks:
      default:
        aliases:
          - cache
    restart: unless-stopped
    cpu_count: 2
    mem_limit: 128m

  ##
  # -- Panel Worker --
  ##
  worker:
    image: ccarney16/pterodactyl-panel:v1.12.1@sha256:c637ee7903def812bce692514b69f35fb9442aa28310b0ba7eb63fbd386726a6
    container_name: pterodactyl_worker
    volumes:
      - panel:/data
    env_file: ./panel.env
    command: p:worker
    restart: unless-stopped

volumes:
  panel:
  mysql:
  config:
