services:
  whatsupdocker:
    image: ghcr.io/getwud/wud:latest
    container_name: wud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      - WUD_TRIGGER_DOCKER_LOCAL_AUTO=true
      - WUD_TRIGGER_DOCKER_LOCAL_PRUNE=true
      - WUD_REGISTRY_HUB_PUBLIC_LOGIN=${DOCKERHUB_USERNAME}
      - WUD_REGISTRY_HUB_PUBLIC_TOKEN=${DOCKERHUB_TOKEN}
      - WUD_AUTH_OIDC_AUTHENTIK_CLIENTID=${AUTH_CLIENT_ID}
      - WUD_AUTH_OIDC_AUTHENTIK_CLIENTSECRET=${AUTH_CLIENT_SECRET}
      - WUD_AUTH_OIDC_AUTHENTIK_DISCOVERY=https://auth.mattvperry.com/application/o/wud/.well-known/openid-configuration
      - WUD_AUTH_OIDC_AUTHENTIK_REDIRECT=true # optional (to skip internal login page)
    healthcheck:
      test: curl --fail http://localhost:${WUD_SERVER_PORT:-3000}/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    labels:
      - homepage.group=System
      - homepage.name=WhatsUpDocker
      - homepage.icon=whatsupdocker
      - homepage.description=Docker monitoring and updates
      - homepage.href=https://wud.mattvperry.com
      - homepage.widget.type=whatsupdocker
      - homepage.widget.url=http://wud:3000