services:
  whatsupdocker:
    image: ghcr.io/getwud/wud:latest
    container_name: wud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      - WUD_TRIGGER_DOCKER_DEFAULT_AUTO=true
      - WUD_TRIGGER_DOCKER_DEFAULT_PRUNE=true
    healthcheck:
      test: curl --fail http://localhost:${WUD_SERVER_PORT:-3000}/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s