services:
  whatsupdocker:
    image: ghcr.io/getwud/wud:latest
    container_name: wud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      default:
        aliases:
          - wud
    restart: unless-stopped