name: maintenance

services:
  renovate:
    image: ghcr.io/mend/renovate-ce:13.5.0@sha256:5e5e91f3d0373cdbeb533440e36483298c5ebd5ed3fa019a93edb64b0507f07c
    volumes:
      - ./config.js:/usr/src/app/config.js:ro
    environment:
      - LOG_LEVEL=debug
      - MEND_RNV_PLATFORM=github
      - MEND_RNV_GITHUB_APP_ID=${MEND_GITHUB_APP_ID}
      - MEND_RNV_GITHUB_APP_KEY=${MEND_GITHUB_APP_KEY}
      - MEND_RNV_WEBHOOK_SECRET=${MEND_WEBHOOK_SECRET}
      - MEND_RNV_LICENSE_KEY=${MEND_LICENSE_KEY}
      - MEND_RNV_ACCEPT_TOS=Y
    restart: unless-stopped
