services:
  renovate:
    image: ghcr.io/mend/renovate-ce:13.3.0@sha256:5e7252befdc0b83bc62b50fed68be81e41064f8fbdf35f3e4624b215f7264580
    environment:
      - LOG_LEVEL=debug
      - MEND_RNV_PLATFORM=github
      - MEND_RNV_GITHUB_APP_ID=${MEND_GITHUB_APP_ID}
      - MEND_RNV_GITHUB_APP_KEY=${MEND_GITHUB_APP_KEY}
      - MEND_RNV_WEBHOOK_SECRET=${MEND_WEBHOOK_SECRET}
      - MEND_RNV_LICENSE_KEY=${MEND_LICENSE_KEY}
      - MEND_RNV_ACCEPT_TOS=Y
    restart: unless-stopped
    volumes:
      - ./config.js:/usr/src/app/config.js:ro