services:
  renovate:
    image: renovate/renovate:42.80.0@sha256:aceab837cbe28c721662240d341d4455fda7f8a2fdd589c4d74637a0b1f4767f
    container_name: renovate
    restart: never
    volumes:
      - ./renovate_config.json:/opt/renovate/config.json