name: maintenance

services:
  renovate:
    image: ghcr.io/mend/renovate-ce:13.4.0@sha256:a83e84bab778d22a0ca8a01ead8f3f7572efba0e97af4131ec0163196833649d
    volumes:
      - ./config.js:/usr/src/app/config.js:ro
    environment:
      - LOG_LEVEL=debug
      - MEND_RNV_PLATFORM=github
      - MEND_RNV_GITHUB_APP_ID=${MEND_GITHUB_APP_ID}
      - MEND_RNV_GITHUB_APP_KEY=${MEND_GITHUB_APP_KEY}
      - MEND_RNV_WEBHOOK_SECRET=${MEND_WEBHOOK_SECRET}
      - MEND_RNV_LICENSE_KEY=${MEND_LICENSE_KEY}
      - MEND_RNV_ACCEPT_TOS=Y
    restart: unless-stopped
