services:
  renovate:
    image: renovate/renovate:42.80.1@sha256:5ecad1f8a8741e3f9181ff8a29ea2111da6a30c81a77588d24f823be7715f2fa
    container_name: renovate
    restart: no
    environment:
      - RENOVATE_GITHUB_COM_TOKEN=${RENOVATE_GITHUB_COM_TOKEN}
      - RENOVATE_AUTODISCOVER=false
      - RENOVATE_PLATFORM=github
      - RENOVATE_TOKEN=${RENOVATE_GITHUB_COM_TOKEN}
      - RENOVATE_CONFIG_FILE=/opt/renovate/config.json
      - RENOVATE_GIT_AUTHOR=Renovate Bot <bot@renovateapp.com>
    volumes:
      - ./renovate_config.json:/opt/renovate/config.json