services:
  unifi-db:
    image: docker.io/mongo:8.0-noble
    container_name: unifi-db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example
      - MONGO_USER=unifi
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_DBNAME=unifi
      - MONGO_AUTHSOURCE=admin
    volumes:
      - mongo_db:/data/db
      - /var/lib/mongodb/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
    restart: unless-stopped
    labels:
      - wud.tag.include=8.0-noble

  unifi-network-app:
    image: docker.io/linuxserver/unifi-network-application:latest
    container_name: unifi-network-app
    environment:
      - PUID=113
      - PGID=113
      - TZ=America/New_York
      - MONGO_USER=unifi
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_HOST=unifi-db
      - MONGO_PORT=27017
      - MONGO_DBNAME=unifi
      - MONGO_AUTHSOURCE=admin
    volumes:
      - unifi_config:/config
    ports:
      - 8443:8443
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
    networks:
      default:
        aliases:
          - unifi
    restart: unless-stopped
    labels:
      - homepage.group=Network
      - homepage.name=Unifi
      - homepage.icon=unifi
      - homepage.href=https://unifi.mattvperry.com
      - homepage.description=Network management
      - homepage.widget.type=unifi
      - homepage.widget.url=https://unifi:8443
      - homepage.widget.username=${UNIFI_USER}
      - homepage.widget.password=${UNIFI_PASS}
      - homepage.widget.fields=["uptime","wlan_devices"]

  orb-docker:
    image: orbforge/orb:latest
    container_name: orb-sensor
    network_mode: host
    volumes:
      - orb_data:/root/.config/orb
    restart: unless-stopped

volumes:
  mongo_db:
  unifi_config:
  orb_data:
  ddclient_config:
