name: unifi

services:
  orb-docker:
    image: orbforge/orb:1.4.6@sha256:b83aae22575d3927420b2681b186610928c4b52b98cb375c3fc4dfc052c513ad
    container_name: orb-sensor
    volumes:
      - orb_data:/root/.config/orb
    network_mode: host
    restart: unless-stopped
  unifi-db:
    image: docker.io/mongo:8.0-noble@sha256:0859c1071d5bcb5a882f7de8d3cb53b7c77241f717989070053dad62e488ebab
    container_name: unifi-db
    volumes:
      - mongo_db:/data/db
      - /var/lib/mongodb/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example
      - MONGO_USER=unifi
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_DBNAME=unifi
      - MONGO_AUTHSOURCE=admin
    restart: unless-stopped

  unifi-network-app:
    image: docker.io/linuxserver/unifi-network-application:10.1.84@sha256:d6fb02e299d80aafb30a08a02ade46d6a6295f44e5c41498614bc869c5692603
    container_name: unifi-network-app
    volumes:
      - unifi_config:/config
    environment:
      - PUID=113
      - PGID=113
      - TZ=America/New_York
      - MONGO_USER=unifi
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_HOST=unifi-db
      - MONGO_PORT=27017
      - MONGO_DBNAME=unifi
      - MONGO_AUTHSOURCE=admin
    ports:
      - '3478:3478/udp'
      - '8080:8080'
      - '8443:8443'
      - '10001:10001/udp'
    networks:
      default:
        aliases:
          - unifi
    restart: unless-stopped
    labels:
      - homepage.group=Network
      - homepage.name=Unifi
      - homepage.icon=unifi
      - homepage.href=https://unifi.mattvperry.com
      - homepage.description=Network management
      - homepage.widget.type=unifi
      - homepage.widget.url=https://unifi:8443
      - homepage.widget.username=${UNIFI_USER}
      - homepage.widget.password=${UNIFI_PASS}
      - homepage.widget.fields=["uptime","wlan_devices"]

volumes:
  mongo_db:
  unifi_config:
  orb_data:
  ddclient_config:
