name: pelican

services:
  panel:
    image: ghcr.io/pelican-dev/panel:v1.0.0-beta31@sha256:5c57b17627eb134d52c0589bc1eaccf198b811a47c33cceb6416ff29504b2fa5
    container_name: pelican_panel
    volumes:
      - pelican_data:/pelican-data
    environment:
      - MAIL_DRIVER=log
      - APP_URL=https://pelican.mattvperry.com
      - APP_DEBUG=false
      - APP_ENV=production
      - XDG_DATA_HOME=/pelican-data
      - BEHIND_PROXY=true
      - TRUSTED_PROXIES=127.0.0.1
    restart: unless-stopped

  wings:
    image: ghcr.io/pelican-dev/wings:v1.0.0-beta22@sha256:fa100d398c65764d98a95fd4f7996962a7f0c85f85f22bfd05eb324fc03528e7
    restart: unless-stopped
    container_name: pelican_wings
    tty: true
    environment:
      - TZ=America/New_York
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/pelican:/var/lib/pelican
      - /tmp/pelican:/tmp/pelican
      - pelican_config:/etc/pelican

volumes:
  pelican_data:
  pelican_config:
