name: pelican

services:
  panel:
    image: ghcr.io/pelican-dev/panel:v1.0.0-beta31@sha256:5c57b17627eb134d52c0589bc1eaccf198b811a47c33cceb6416ff29504b2fa5
    container_name: pelican_panel
    volumes:
      - pelican_data:/pelican-data
    environment:
      - MAIL_DRIVER=log
      - APP_URL=https://pelican.mattvperry.com
      - APP_DEBUG=false
      - APP_ENV=production
      - XDG_DATA_HOME=/pelican-data
      - BEHIND_PROXY=true
      - TRUSTED_PROXIES=127.0.0.1
    restart: unless-stopped

volumes:
  pelican_data:
