name: metrics

services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.55.1@sha256:3de2bd5203120b866d74a9b283b2ffb8ec382fbf9dc321814700c6ea6f44ec57
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /dev/disk:/dev/disk:ro
    command: --store_container_labels=false
    restart: unless-stopped
    devices:
      - /dev/kmsg:/dev/kmsg
    privileged: true

  ##
  # Dashboard and query interface
  ##
  grafana:
    image: docker.io/grafana/grafana:12.3@sha256:9e1e77ade304069aee3196e9a4f210830e96e80ce9a2640891eccc324b152faf
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./config/dashboards:/var/lib/grafana/dashboards
    environment:
      - GF_SERVER_ROOT_URL=https://logs.mattvperry.com
      - GF_AUTH_OAUTH_ALLOW_INSECURE_EMAIL_LOOKUP=true
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_INSTALL_PLUGINS=${GF_VL_PLUGIN};victorialogs-datasource,${GF_VM_PLUGIN};victoriametrics-datasource
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=victorialogs-datasource,victoriametrics-datasource
    restart: unless-stopped
    labels:
      - homepage.group=System
      - homepage.name=Grafana
      - homepage.icon=grafana
      - homepage.href=https://logs.mattvperry.com
      - homepage.description=Dashboards and Monitoring
  node_exporter:
    image: docker.io/prom/node-exporter:v1.10.2@sha256:3ac34ce007accad95afed72149e0d2b927b7e42fd1c866149b945b84737c62c3
    container_name: node_exporter
    volumes:
      - /:/host:ro,rslave
    network_mode: host
    command:
      - --web.listen-address=172.17.0.1:9100
      - --path.rootfs=/host
    restart: unless-stopped
    pid: host

  ##
  # Collection aggregation
  ##
  vector:
    image: docker.io/timberio/vector:0.53.0-alpine@sha256:ca92d617e905953c3f852e7e88061f7039460e733522e3f0c21bc6ae946b2558
    container_name: vector
    depends_on:
      victorialogs:
        condition: service_healthy
      victoriametrics:
        condition: service_healthy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker:/var/lib/docker
      - ./config/vector.yaml:/etc/vector/vector.yaml:ro
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

  ##
  # Log aggregation
  ##
  victorialogs:
    image: docker.io/victoriametrics/victoria-logs:v1.45.0@sha256:01bfa0f80d8d6134753b0be0f206c3458f74a14e81bb570f8c3d2f20af2a24a0
    container_name: victorialogs
    volumes:
      - victorialogs_data:/vlogs
    command:
      - -storageDataPath=/vlogs
      - -loggerFormat=json
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://victorialogs:9428/health" ]
      interval: 1s
      timeout: 1s
      retries: 10

  ##
  # Metric aggregation
  ##
  victoriametrics:
    image: docker.io/victoriametrics/victoria-metrics:v1.135.0@sha256:647f1a19274a362692c0968b926f4acecfdac9488bbf70f1985925d1717063b5
    container_name: victoriametrics
    volumes:
      - victoriametrics_data:/vmsingle
      - ./config/scrape.yaml:/promscrape.yaml
    command:
      - -storageDataPath=/vmsingle
      - -promscrape.config=/promscrape.yaml
      - -loggerFormat=json
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://victoriametrics:8428/health" ]
      interval: 1s
      timeout: 1s
      retries: 10

volumes:
  victorialogs_data:
  victoriametrics_data:
  grafana_data:
