services:
  ##
  # Machine stats collector
  ##
  node_exporter:
    image: docker.io/prom/node-exporter:latest@sha256:3ac34ce007accad95afed72149e0d2b927b7e42fd1c866149b945b84737c62c3
    container_name: node_exporter
    volumes:
      - /:/host:ro,rslave
    command:
      - --web.listen-address=172.17.0.1:9100
      - --path.rootfs=/host
    network_mode: host
    pid: host
    restart: unless-stopped

  ##
  # Docker metrics
  ##
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest@sha256:3de2bd5203120b866d74a9b283b2ffb8ec382fbf9dc321814700c6ea6f44ec57
    container_name: cadvisor
    privileged: true
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /dev/disk:/dev/disk:ro
    command: --store_container_labels=false
    restart: unless-stopped

  ##
  # Collection aggregation
  ##
  vector:
    image: docker.io/timberio/vector:latest-alpine@sha256:7d697bec60a484e148ca61f4268dd5a5c8cd2dd6e22e0e2cfd54bf2bc8c576ae
    container_name: vector
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker:/var/lib/docker
      - ./config/vector.yaml:/etc/vector/vector.yaml:ro
    extra_hosts:
      - host.docker.internal:host-gateway
    depends_on:
      victorialogs:
        condition: service_healthy
      victoriametrics:
        condition: service_healthy
    restart: unless-stopped

  ##
  # Log aggregation
  ##
  victorialogs:
    image: docker.io/victoriametrics/victoria-logs:latest@sha256:3db89651b2ffa0f4fe5a0f8805ede409701f41ca63ebdd64cfa4a3cb63976b43
    container_name: victorialogs
    volumes:
      - victorialogs_data:/vlogs
    command:
      - -storageDataPath=/vlogs
      - -loggerFormat=json
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://victorialogs:9428/health"]
      interval: 1s
      timeout: 1s
      retries: 10
    restart: unless-stopped

  ##
  # Metric aggregation
  ##
  victoriametrics:
    image: docker.io/victoriametrics/victoria-metrics:latest@sha256:254069e96bf39deb06065e8600ca754fcf1287bfc04982e760d0e77f4a6fac4d
    container_name: victoriametrics
    volumes:
      - victoriametrics_data:/vmsingle
      - ./config/scrape.yaml:/promscrape.yaml
    command:
      - -storageDataPath=/vmsingle
      - -promscrape.config=/promscrape.yaml
      - -loggerFormat=json
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://victoriametrics:8428/health"]
      interval: 1s
      timeout: 1s
      retries: 10
    restart: unless-stopped

  ##
  # Dashboard and query interface
  ##
  grafana:
    image: docker.io/grafana/grafana:latest@sha256:2175aaa91c96733d86d31cf270d5310b278654b03f5718c59de12a865380a31f
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./config/dashboards:/var/lib/grafana/dashboards
    ports:
      - 3000:3000
    environment:
      - GF_SERVER_ROOT_URL=https://logs.mattvperry.com
      - GF_AUTH_OAUTH_ALLOW_INSECURE_EMAIL_LOOKUP=true
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_INSTALL_PLUGINS=${GF_VL_PLUGIN};victorialogs-datasource,${GF_VM_PLUGIN};victoriametrics-datasource
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=victorialogs-datasource,victoriametrics-datasource
    restart: unless-stopped
    labels:
      - homepage.group=System
      - homepage.name=Grafana
      - homepage.icon=grafana
      - homepage.href=https://logs.mattvperry.com
      - homepage.description=Dashboards and Monitoring

volumes:
  victorialogs_data:
  victoriametrics_data:
  grafana_data:
